body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 30px;
    text-align: center;
}

form {
    margin: 20px auto;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background: #4CAF50;
    color: black;
    border: none;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
.tag {
        display: inline-block;
        padding: 10px 16px;
        margin: 6px;
        background: #007bff;             /* bright blue */
        color: white;                    /* white text for contrast */
        font-size: 15px;
        border-radius: 25px;
        cursor: pointer;
        border: none;
        transition: 0.25s;
    }
 .tag:hover {
        background: #0056b3;             /* dark blue on hover */
        transform: scale(1.08);
    }

